
@{
    ViewData["Title"] = "Crear";
}

<h1>Crear</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-4 offset-2">
            <form action="/producto/crear" method="post" enctype="multipart/form-data">

                <div class="form-group">
                    <label class="control-label">Nombre</label>
                    <input class="form-control" name="nombre" />
                </div>
                <div class="form-group">
                    <label class="control-label">marca</label>
                    <input class="form-control" name="marca" />
                </div>
                <div class="form-group">
                    <label class="control-label">modelo</label>
                    <input class="form-control" name="modelo"/>
                </div>
                <div class="form-group">
                    <label class="control-label">precio</label>
                    <input class="form-control" name="precio"/>
                </div>

                <div class="form-group">
                    <label  class="control-label">imagen</label>
                    <div class="col-sm-10">
                        <div class="custom-file">
                            <input  type="file" name="imagen" class="form-control custom-file-input"/>
                            <label class="custom-file-label">selecciona una imagen</label>
                        </div>
                    </div>
                </div>

                <button class="btn btn-primary">Guardar</button>
                <a class="btn btn-secondary" href="/producto/index">Cancelar</a>
            </form>
        </div>
    </div>
</div>
