
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="container">
    <div class="row">
        @foreach (var item in Model) { 
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    
                        <a href="/producto/detalle?id=@item.id">
                            <img class="card-img-top" src="~/imagen/@item.imagen" style="height:250px; width:300px;">
                        </a>
                        <div class="card-body">
                            <h2 class="card-title">
                                <a>@item.nombre</a>
                            </h2>
                            <h5>S/@item.precio</h5>
                        </div>
                    
                </div>
            </div>
         }
    </div>
</div>